.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.2fr 1.3fr 1.5fr;
  gap: 0px 0px;
  grid-template-areas:
    "Header"
    "existing-consultation"
    "new-consultation";
}

.Header { 
  grid-area: Header; 
}

.existing-consultation {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1.1fr 0.9fr;
  gap: 0px 0px;
  grid-area: existing-consultation;
}

.summary-in {
  display: grid;
  grid-template-columns: 1fr 1.1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "rrooms sunm-in";
  grid-area: 2 / 1 / 3 / 2;
}

.sunm-in { 
  grid-area: sunm-in; 
}

.rrooms {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    ". rooms dates"
    ". rooms-in date-ins";
  grid-area: rrooms;
}

.rooms { 
  grid-area: rooms; 
}

.rooms-in { 
  grid-area: rooms-in; 
}

.dates { 
  grid-area: dates; 
}

.date-ins { 
  grid-area: date-ins; 
}

.attached-files {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "files- vedios audios";
  grid-area: 3 / 1 / 4 / 2;
}

.files- { grid-area: files-; }

.vedios { grid-area: vedios; }

.audios { grid-area: audios; }

.names { grid-area: 1 / 1 / 2 / 2; }

.namess {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    ". doc-names patient-names"
    "status doc-in patname-in";
  grid-area: 1 / 1 / 2 / 2;
}

.doc-names { grid-area: doc-names; }

.doc-in { grid-area: doc-in; }

.patient-names { grid-area: patient-names; }

.patname-in { grid-area: patname-in; }

.status {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    ". ."
    ". .";
  grid-area: status;
}

.new-consultation {
  display: grid;
  grid-template-columns: 1.5fr 0.7fr 0.9fr 0.9fr;
  grid-template-rows: 0.8fr 0.5fr 1.5fr;
  gap: 0px 0px;
  grid-template-areas:
    "patient-name pat-input Doctors-name doc-input"
    "save sumin sumin date"
    "attaced-files sumin sumin roomss";
  grid-area: new-consultation;
}

.patient-name { grid-area: patient-name; }

.pat-input { grid-area: pat-input; }

.Doctors-name { grid-area: Doctors-name; }

.doc-input {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-area: doc-input;
}

.name { grid-area: 1 / 1 / 2 / 2; }

.doc-name { grid-area: 1 / 1 / 2 / 2; }

.doc-id { grid-area: 2 / 1 / 3 / 2; }

.date {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    ". date-in";
  grid-area: date;
}

.date-in { grid-area: date-in; }

.save { grid-area: save; }

.attaced-files {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-area: attaced-files;
}

.files { grid-area: 1 / 1 / 2 / 2; }

.vedio { grid-area: 2 / 1 / 3 / 2; }

.audi { grid-area: 3 / 1 / 4 / 2; }

.vedio-in { grid-area: 2 / 2 / 3 / 3; }

.files-in { grid-area: 1 / 2 / 2 / 3; }

.filess { grid-area: 1 / 1 / 2 / 2; }

.audi-in { grid-area: 3 / 2 / 4 / 3; }

.roomss {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.8fr 1.2fr;
  gap: 0px 0px;
  grid-template-areas:
    "rooms-title"
    "room-in";
  grid-area: roomss;
}

.room-in { grid-area: room-in; }

.rooms-title { grid-area: rooms-title; }

.sumin {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 1.5fr;
  gap: 0px 0px;
  grid-template-areas:
    "sum-title"
    "sum-in";
  grid-area: sumin;
}

.sum-title { grid-area: sum-title; }

.sum-in { grid-area: sum-in; }
