form{
    border-radius: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: normal;
    font-size:larger;
    background-color:grey;
    opacity: 0.9;
    height: fit-content;
    width: 500px;
    align-items: center;
    padding-left: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-left: 200px;
    text-align: center;
}
form h3{
    text-align: center;
}
.new-doctor-form input{
    border-radius: 2px;
    height: 35px;
    width: 400px;
     border-radius: 5px 5px 5px 5px ;
     border-bottom: green 1px;
}
.new-doctor-form button{
    margin-top:50px ;
    width: 200px;
    height: 50px;
    background-color: lightskyblue;
    border-radius: 10px 10px 10px 10px;

   
    
}
.new-doctor-form textarea{
    margin-top:50px ;
    width: 400px;
    height: 200px;
    border-radius: 5px ;
    
}
.grid-container2 {
  display: grid;
  padding-left: 10px;
  padding-top: 30px;
  margin-left: 200px;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 1.5fr;
  gap: 0px 0px;
}

.dispaly1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "doc-name room date"
    "doc-in room-in date-in";
  grid-area: 1 / 1 / 2 / 2;
}

.doc-name { grid-area: doc-name; }

.room { grid-area: room; }

.date { grid-area: date; }

.doc-in { grid-area: doc-in; }

.room-in { grid-area: room-in; }

.date-in { grid-area: date-in; }

.display2 { grid-area: 2 / 1 / 3 / 2; }

.textarea { grid-area: 2 / 1 / 3 / 2; }

