h1,h2{
  text-align: center;
  color:purple;
}

h3,p{
  font-size: large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 30px;
}

.login-page{
  background-image: url('./image/bimage1.jpg');
  background-repeat: no-repeat;
  background-size: 1400px 900px;
}

.login-form{
  padding-left: 55%; 
}

button{
  font-size: large;
}

nav{
  margin:60px;
}

.exit-button{
  display:flex;
  float: right;
  background-color: grey;
}