header{
  text-align: center;
  color:purple;
}

h3,p{
  font-size: large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 30px;
}

.login-page{
  /* background-image: url('./image/bimage1.jpg'); */
  background-repeat: no-repeat;
  background-size: 1400px 900px;
}

.login-form{
  text-align: center; 
}

.appointment-form, .consultation-form{
  text-align:center;
}

button{
  font-size: large;
}

.new-patient-form, .new-doctor-form, .new-admin-form{
  float: left;
}

.exit-button{
  display:flex;
  float: right;
  background-color: grey;
}

.side-bar{
  text-align: left;
  float: left;
  justify-content: space-between;
  word-spacing: 30px;
  font-size: large;
  overflow: hidden;
  background-color: #333;
  margin: 30px;
  border: 1px solid black;
  padding-top: 20px;
  padding-bottom: 20px;
}

.nav-bar {
  text-align: center;
  justify-content: space-between;
  word-spacing: 30px;
  font-size: large;
  overflow: hidden;
  background-color: #333;
  margin: 30px;
  border: 1px solid black;
  padding-top: 20px;
  padding-bottom: 20px;
}

.nav-bar a {
  float: center;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  justify-content: space-between;
  word-spacing: 100px;
}

.dropdown {
  float: right;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.nav-bar a:hover, .dropdown:hover .dropbtn {
  background-color: purple;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}